---
language: en
layout: default
title: CSSG Members
---
<div class='bg-image bg-gallery-4 py-5'>
  <div class='container'>
    <div class='row mt-4'>
      <div class='col text-center'>
        <h1 class='display-4 text-white py-5 font-weight-bold'>{{page.title}}</h1>
      </div>
    </div>
  </div>
</div>

<div class="bg-image bg-light-green py-4 my-5 text-white">
  <div class="container">
    <div class="row my-4">
      <div class='col'>
        <h1 class="text-white">
          Leadership
        </h1>
        <ul class="list-unstyled">
        {% for member in site.data.leadership %}
          <li class="media my-4 d-flex align-items-center">
            <img src={{ member.en.image | prepend: "/assets/images/people/" | relative_url }} class="mr-3 img-fluid shadow rounded-circle alt="{{member.first}} {{member.last}}">
            <div class="media-body">
              <h5 class="mt-0 text-white">
                {{member.first}} {{member.last}}{% unless member.en.position == '' %}, {{member.en.position}}{% endunless %}
              </h5>
              <p class="mb-1">
              {% unless member.en.description == "" %}
                {{ member.en.description }}
                {% unless member.en.institution == "" %}
                  - {{member.en.institution}}
                {% endunless %}
              {% endunless %}
              </p>
              {% unless member.en.expertise == "" %}
                <p class="my-0 py-0 font-italic font-weight-lighter">
                  {{ member.en.expertise }}
                </p>
              {% endunless %}
            </div>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="bg-image bg-orange py-4 my-5 text-white">
  <div class="container">
    <div class="row my-4">
      <div class='col'>
        <h1 class="text-white">
          Red List Authority Coordinator
        </h1>
        <ul class="list-unstyled">
        {% for member in site.data.red_list_authority %}
          <li class="media my-4 d-flex align-items-center">
            <div class="media-body">
              <h5 class="mt-0 text-white">
                {{member.first}} {{member.last}}<!-- {% unless member.en.position == "" %}, {{member.en.position}}{% endunless %} -->
              </h5>
              <p class="mb-1">
              {% unless member.en.description == "" %}
                {{ member.en.description }}
                {% unless member.en.institution == "" %}
                  - {{member.en.institution}}
                {% endunless %}
              {% endunless %}
              </p>
              {% unless member.en.expertise == "" %}
                <p class="my-0 py-0 font-italic font-weight-lighter">
                  {{ member.en.expertise }}
                </p>
              {% endunless %}
            </div>
            <img src={{ member.en.image | prepend: "/assets/images/people/" | relative_url }} class="ml-3 img-fluid shadow rounded-circle alt="{{member.first}} {{member.last}}">

          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="bg-image bg-yellow py-4 my-5 text-white">
  <div class="container">
    <div class="row my-4">
      <div class='col'>
        <h1 class="text-white">
          Program Officer
        </h1>
        <ul class="list-unstyled">
        {% for member in site.data.programme_officer %}
          <li class="media my-4 d-flex align-items-center">
            <img src={{ member.en.image | prepend: "/assets/images/people/" | relative_url }} class="mr-3 img-fluid shadow rounded-circle alt="{{member.first}} {{member.last}}">
            <div class="media-body">
              <h5 class="mt-0 text-white">
                {{member.first}} {{member.last}}<!-- {% if member.en.position %}, {{member.en.position}}{% endif %} -->
              </h5>
              <p class="mb-1">
              {% unless member.en.description == "" %}
                {{ member.en.description }}
                {% unless member.en.institution == "" %}
                  - {{member.en.institution}}
                {% endunless %}
              {% endunless %}
              </p>
              {% unless member.en.expertise == "" %}
                <p class="my-0 py-0 font-italic font-weight-lighter">
                  {{ member.en.expertise }}
                </p>
              {% endunless %}
            </div>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="bg-image bg-light-green py-4 my-5 text-white">
  <div class="container">
    <div class="row my-4">
      <div class='col'>
        <h1 class="text-white">
          Focal Point for Sustainable Use
        </h1>
        <ul class="list-unstyled">
        {% for member in site.data.sustainable_use %}
          <li class="media my-4 d-flex align-items-center">
            <div class="media-body">
              <h5 class="mt-0 text-white">
                {{member.first}} {{member.last}}<!-- {% unless member.en.position == "" %}, {{member.en.position}}{% endunless %} -->
              </h5>
              <p class="mb-1">
              {% unless member.en.description == "" %}
                {{ member.en.description }}
                {% unless member.en.institution == "" %}
                  - {{member.en.institution}}
                {% endunless %}
              {% endunless %}
              </p>
            </div>
            <img src={{ member.en.image | prepend: "/assets/images/people/" | relative_url }} class="ml-3 img-fluid shadow rounded-circle alt="{{member.first}} {{member.last}}">

          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="bg-image bg-orange py-4 my-5 text-white">
  <div class="container">
    <div class="row my-4">
      <div class='col'>
	  <h1 class="text-white">
	  Cactaceae Reassessment Task Force
	  </h1>
	  <br>
        <h3 class="text-white">
          Focal points
        </h3>
        <ul class="list-unstyled">
        {% for member in site.data.focal_points %}
          <li class="media my-4 d-flex align-items-center">
            <div class="media-body">
              <h5 class="mt-0 text-white">
                {{member.first}} {{member.last}}<!-- {% if member.en.position %}, {{member.en.position}}{% endif %} -->
              </h5>
              <p class="mb-1">
              {% unless member.en.description == "" %}
                {{ member.en.description }}
                {% unless member.en.institution == "" %}
                  - {{member.en.institution}}
                {% endunless %}
              {% endunless %}
              </p>
              {% unless member.en.expertise == "" %}
                <p class="my-0 py-0 font-italic font-weight-lighter">
                  {{ member.en.expertise }}
                </p>
              {% endunless %}
            </div>
            <img src={{ member.en.image | prepend: "/assets/images/people/" | relative_url }} class="ml-3 img-fluid shadow rounded-circle alt="{{member.first}} {{member.last}}">
          </li>
        {% endfor %}
        </ul>

        <h3 class="text-white">
          Supporting institutions
        </h3>
        <ul class="list-unstyled">
        {% for member in site.data.supporting_institutions %}
          <li class="media my-4 d-flex align-items-center">
            <div class="media-body">
              <h5 class="mt-0 text-white">
                {{member.en.institution}}
              </h5>
              <p class="mb-1">
                {{ member.en.region }}
              </p>
            </div>
            <img src={{ member.en.image | prepend: "/assets/images/people/" | relative_url }} class="ml-3 img-fluid shadow alt="{{member.en.institution}}">
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="bg-image bg-yellow py-4 my-5 text-white">
  <div class="container">
    <div class="row my-4">
      <div class='col'>
        <h1 class="text-white">
          Members
        </h1>
        <ul class="list-unstyled">
        {% for member in site.data.members %}
          <li class="media my-4 d-flex align-items-center">
            <div class="media-body">
              <h5 class="mt-0 text-white">
                {{member.first}} {{member.last}}<!-- {% if member.en.position %}, {{member.en.position}}{% endif %} -->
              </h5>
              <p class="mb-1">
              {% unless member.en.description == "" %}
                {{ member.en.description }}
                {% unless member.en.institution == "" %}
                  - {{member.en.institution}}
                {% endunless %}
              {% endunless %}
              </p>
              {% unless member.en.expertise == "" %}
                <p class="my-0 py-0 font-italic font-weight-lighter">
                  {{ member.en.expertise }}
                </p>
              {% endunless %}
            </div>
            <img src={{ member.en.image | prepend: "/assets/images/people/" | relative_url }} class="ml-3 img-fluid shadow rounded-circle alt="{{member.first}} {{member.last}}">
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>