<div class="container mt-5">
  <div class='row'>
    <div class='col text-center'>
      <h1 class='text-center text-success'>
        Get In Touch
      </h1>
      <p>
        Have a question for our team or want connect with us on social media?
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='col'>
      <div class='btn-group-lg d-block text-center' id='social-media'>
        <a class='btn btn-outline-success border-0 p-0 m-0' href="mailto:jwolf@dbg.org?subject=CSSG Inquiry" target=_blank>
          <!-- <span class='display-4'> -->
            <span class='fa fa-envelope'></span>
          <!-- </span> -->
        </a>
        <a class='btn btn-outline-success border-0 p-0 m-0' href=https://www.facebook.com/iucn.cssg target=_blank>
          <!-- <span class='display-3'> -->
            <span class='fa fa-facebook'></span>
          <!-- </span> -->
        </a>
        <a class='btn btn-outline-success border-0 p-0 m-0' href=https://www.instagram.com/iucn_cssg target=_blank>
          <!-- <span class='display-3 my-auto mx-auto p-0'> -->
            <span class='fa fa-instagram'></span>
          <!-- </span> -->
        </a>
        <a class='btn btn-outline-success border-0 p-0 m-0' href=https://www.twitter.com/CssgSsc target=_blank>
          <!-- <span class='display-3 my-auto mx-auto p-0'> -->
            <span class='fa fa-twitter m-0 p-0'></span>
          <!-- </span> -->
        </a>

      </div>
    </div>
  </div>
</div>
<hr>
<footer class="footer"> 
  <p class="text-center">
    Contact <a
    href="mailto:jwolf@dbg.org">Webmaster</a> &bull; Last modified {{ site.time | date: " %B %Y " }}
  </p>
</footer>
