</div>
<div class='bg-image bg-light-green py-4 my-5 text-white'><div class='container'><div class='row'>
  <div class='col'>
    <h1 class='text-white'>Liderazgo</h1>
    <ul class='list-unstyled'>
      <li class="media my-4">
        <img src="{{ site.baseurl }}/assets/images/people/Barbara 128x128.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
        <div class="media-body">
          <h5 class="mt-0 text-white">Bárbara Goettsch, Copresidenta</h5>
          <p class='mb-1'>Oficial de Programas, Plantas para las Personas UICN</p><p class='my-0 py-0 font-italic font-weight-lighter'>Cactus</p>        </div>
      </li>
      <li class="media my-4">
        <img src="{{ site.baseurl }}/assets/images/people/Lucas 128x128.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
        <div class="media-body">
          <h5 class="mt-0 text-white">Lucas Majure, Copresidente</h5>
          <p class='mb-1'>Asistente de Curador en Herbario de la Universidad de Florida</p><p class='my-0 py-0 font-italic font-weight-lighter'>Cactus</p>        </div>
      </li>
      <li class="media my-4">
        <img src="{{ site.baseurl }}/assets/images/people/Wendy 128x128.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
        <div class="media-body">
          <h5 class="mt-0 text-white">Wendy Hodgson, Vicepresidenta</h5>
          <p class='mb-1'>Curadora Emerita de Herbario e Investigadora Botánica en Jardín Botánico del Desierto</p><p class='my-0 py-0 font-italic font-weight-lighter'>Agave y Yucca</p>        </div>
      </li>
      <li class="media my-4">
        <img src="{{ site.baseurl }}/assets/images/people/Kim 128x128.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
        <div class="media-body">
          <h5 class="mt-0 text-white">Kimberlie McCue, Miembro del Comité Asesor</h5>
          <p class='mb-1'>Directora-Horticultura y Conservación del Desierto en Jardín Botánico del Desierto</p><p class='my-0 py-0 font-italic font-weight-lighter'>Cactus</p>        </div>
      </li>
    </ul>
  </div>
</div>
</div>
</div>
<div class='bg-image bg-orange py-4 my-5 text-white'><div class='container'><div class='row'>
  <div class='col'>
    <h1 class='text-white'>Cordinador de la Autoridad de la Lista Roja</h1>
    <ul class='list-unstyled'>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Raúl Puente-Martínez</h5>
          <p class='mb-1'>Curador de Colecciones Vivientes e Investigador Botánico en Jardín Botánico del Desierto</p><p class='my-0 py-0 font-italic font-weight-lighter'>Suculentas</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/Raul 128x128.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
    </ul>
  </div>
</div>
</div>
</div>
<div class='bg-image bg-yellow py-4 my-5 text-white'><div class='container'><div class='row'>
  <div class='col'>
    <h1 class='text-white'>Oficial de Programa</h1>
    <ul class='list-unstyled'>
      <li class="media my-4">
        <img src="{{ site.baseurl }}/assets/images/people/Jael 128x128.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
        <div class="media-body">
          <h5 class="mt-0 text-white">Jael M. Wolf</h5>
          <p class='mb-1'>Oficial de Programas de CSSG en Jardín Botánico del Desierto</p><p class='my-0 py-0 font-italic font-weight-lighter'>Ciencias Amb.</p>        </div>
      </li>
    </ul>
  </div>
</div>
</div>
</div>
<div class='bg-image bg-dark-green py-4 my-5 text-white'><div class='container'><div class='row'>
  <div class='col'>
    <h1 class='text-white'>Miembros de la Comisión</h1>
    <ul class='list-unstyled'>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Magdalena Ayala</h5>
          <p class='mb-1'>Investigadora en Universidad Nacional Autónoma de México</p><p class='my-0 py-0 font-italic font-weight-lighter'>Yucca</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/yucca1.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Rolando Tenoch Barcenas Luna</h5>
          <p class='mb-1'>Profesor en Universidad Autónoma de Querétaro</p><p class='my-0 py-0 font-italic font-weight-lighter'>Cactus</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/cactus2.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Duniel Barrios Valdés</h5>
          <p class='mb-1'>Investigador en Universidad de la Habana</p><p class='my-0 py-0 font-italic font-weight-lighter'>Cactus</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/cactus1.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">José Alberto Búrquez Montijo</h5>
          <p class='mb-1'>Investigador en Universidad Nacional Autónoma de México</p><p class='my-0 py-0 font-italic font-weight-lighter'>Cactus</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/cactus3.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Andrea Cattabriga</h5>
          <p class='mb-1'>Horticultor en Mondocactus</p><p class='my-0 py-0 font-italic font-weight-lighter'>Cactus</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/cactus2.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">José Gabriel Cerén López</h5>
          <p class='mb-1'>Investigador  en Museo de Historia Natural de El Salvador</p><p class='my-0 py-0 font-italic font-weight-lighter'>Cactus</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/cactus1.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Karen Clary</h5>
          <p class='mb-1'>Gerente del Programa de Conservación de Plantas - Jubilada en Centro de Flores Silvestres Lady Bird Johnson</p><p class='my-0 py-0 font-italic font-weight-lighter'>Yucca</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/yucca1.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Hugo Cota-Sanchéz</h5>
          <p class='mb-1'>Profesor en Universidad de Saskatchewan</p><p class='my-0 py-0 font-italic font-weight-lighter'>Cactus</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/cactus3.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Pablo Demaio</h5>
          <p class='mb-1'>Profesor en Universidad Nacional de Catamarca</p><p class='my-0 py-0 font-italic font-weight-lighter'>Cactus</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/cactus3.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Yuley Encarnación Piñeyro</h5>
          <p class='mb-1'>Investigadora en Jardín Botánico Nacional “Rafael M. Moscoso” (República Dominicana) y Universidad de Florida</p><p class='my-0 py-0 font-italic font-weight-lighter'>Cactus</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/cactus1.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Shannon Fehlberg</h5>
          <p class='mb-1'>Bióloga de la Conservación e Investigadora Botánica en Jardín Botánico del Desierto</p><p class='my-0 py-0 font-italic font-weight-lighter'>Cactus</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/cactus3.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Martha González-Ilizondo</h5>
          <p class='mb-1'>Investigador en Instituto Politécnico Nacional</p><p class='my-0 py-0 font-italic font-weight-lighter'>Agave</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/agave1.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Pablo Guerrero</h5>
          <p class='mb-1'>Director de Doctorado en Ciencias Biológicas en Universidad de Concepción</p><p class='my-0 py-0 font-italic font-weight-lighter'>Cactus</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/cactus1.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Diego Ezequiel Gurvich</h5>
          <p class='mb-1'>Investigador Independiente en Universidad Nacional de Córdoba</p><p class='my-0 py-0 font-italic font-weight-lighter'>Cactus</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/cactus1.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Carlos Gómez  Hinostrosa</h5>
          <p class='mb-1'>Investigador en Universidad Nacional Autónoma de México</p><p class='my-0 py-0 font-italic font-weight-lighter'>Cactus</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/cactus2.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Tania Hernández</h5>
          <p class='mb-1'>Profesora en Centro LANGEBIO de Investigación y Estudios Avanzados del Instituto Politécnico Nacional</p><p class='my-0 py-0 font-italic font-weight-lighter'>Cactus</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/cactus2.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Héctor Hernández Macias</h5>
          <p class='mb-1'>Investigador en Universidad Nacional Autónoma de México</p><p class='my-0 py-0 font-italic font-weight-lighter'>Cactus</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/cactus2.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Luis Hernández-Sandoval</h5>
          <p class='mb-1'>Profesor en Universidad Autónoma de Querétaro</p><p class='my-0 py-0 font-italic font-weight-lighter'>Agave</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/agave2.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Criag Hilton-Taylor</h5>
          <p class='mb-1'>Director en Unidad de la Lista Roja de la UICN</p><p class='my-0 py-0 font-italic font-weight-lighter'>Cactus</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/cactus3.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Coen Knotters</h5>
          <p class='mb-1'>Ecologista de campo independiente</p><p class='my-0 py-0 font-italic font-weight-lighter'>Suculentas</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/cactus1.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">José Luis Leon de la Luz</h5>
          <p class='mb-1'>Investigador en Centro de Investigaciones Biológicas del Noroeste </p><p class='my-0 py-0 font-italic font-weight-lighter'>Cactus</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/cactus2.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Sigrid Liede-Schumann</h5>
          <p class='mb-1'>Profesor en Universidad de Bayreuth</p><p class='my-0 py-0 font-italic font-weight-lighter'>Sistemática de Plantas</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/cactus1.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Detlev Metzing</h5>
          <p class='mb-1'>Investigador en Universidad Carl von Ossietzky de Oldenburg</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/cactus3.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Jafet Nassar</h5>
          <p class='mb-1'>Investigador en Instituto Venezolano de Investigaciones Científicas</p><p class='my-0 py-0 font-italic font-weight-lighter'>Cactus</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/cactus1.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Ana Novoa</h5>
          <p class='mb-1'>Investigador en Instituto de Botánica, Academia Checa de Ciencias,</p><p class='my-0 py-0 font-italic font-weight-lighter'>Cactus como especies invasoras</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/cactus1.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Luis Oakley</h5>
          <p class='mb-1'>Investigador en Universidad Nacional de Rosario</p><p class='my-0 py-0 font-italic font-weight-lighter'>Cactus</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/cactus3.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Sara Oldfield</h5>
          <p class='mb-1'>Copresidenta en Grupo de Especialistas en árboles mundiales de la CSE/UICN</p><p class='my-0 py-0 font-italic font-weight-lighter'>Especies de árboles silvestres</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/yucca1.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Solofo Rakotoarisoa</h5>
          <p class='mb-1'>Líder del Equipo de Ecosistemas en Centro de Conservación de Kew Madagascar</p><p class='my-0 py-0 font-italic font-weight-lighter'>Aloes</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/aloe1.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Maurizio Sajeva</h5>
          <p class='mb-1'>Profesor en Universidad de Palermo</p><p class='my-0 py-0 font-italic font-weight-lighter'>Suculentas</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/cactus1.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Andrew Salywon</h5>
          <p class='mb-1'>Curador de Herbario  e Investigador Botánico en Jardín Botánico del Desierto</p><p class='my-0 py-0 font-italic font-weight-lighter'>Agave</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/agave2.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Jane Smart</h5>
          <p class='mb-1'>Directora Global, Directora del Grupo de Conservación de la Biodiversidad de la UICN en Programa Mundial de Especies de la UICN</p><p class='my-0 py-0 font-italic font-weight-lighter'>Asesora de Políticas</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/cactus3.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Jean-Marie Soichon</h5>
          <p class='mb-1'>Director en Jardín Botánico de Mónaco</p><p class='my-0 py-0 font-italic font-weight-lighter'>Suculentas</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/cactus2.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Emiliano Sánchez-Martínez</h5>
          <p class='mb-1'>Director en Jardín Botánico Regional de Cadereyta</p><p class='my-0 py-0 font-italic font-weight-lighter'>Cactus y Agaves</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/agave1.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Nigel Taylor</h5>
          <p class='mb-1'>Director en Jardines Botánicos de Singapur</p><p class='my-0 py-0 font-italic font-weight-lighter'>Cactus</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/cactus2.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Joachim Thiede</h5>
          <p class='mb-1'>Investigador Independiente</p><p class='my-0 py-0 font-italic font-weight-lighter'>Agave</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/agave1.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Ignacio Torres-García</h5>
          <p class='mb-1'>Profesor en Universidad Nacional Autónoma de México</p><p class='my-0 py-0 font-italic font-weight-lighter'>Agave</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/agave2.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
      <li class="media my-4">
        <div class="media-body">
          <h5 class="mt-0 text-white">Alejandro Zavala</h5>
          <p class='mb-1'>Profesor en Universidad Autónoma Metropolitana</p><p class='my-0 py-0 font-italic font-weight-lighter'>Cactus</p>        </div>
        <img src="{{ site.baseurl }}/assets/images/people/cactus1.png" class="mr-3 img-fluid shadow rounded-circle" alt="...">
      </li>
    </ul>
  </div>
</div>
</div>
</div>
