<nav class="navbar navbar-expand-lg navbar-light bg-light my-0 py-0">
  <a class="navbar-brand my-0 py-0" href="{{ site.baseurl }}/{{ page.language }}"><img src='{{ site.baseurl }}/images/cssg_logo_es.png'></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/{{ page.language }}/about_cssg">Acerca de CSSG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/{{ page.language }}/cacti_and_succulents">Cactus y Suculentas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/{{ page.language }}/members">Miembros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/es/workshops">Talleres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/es/outreach">Divulgación</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="newsletterDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Boletín
        </a>
        <div class="dropdown-menu" aria-labelledby="newsletterDropdown">
          {% include newsletters_es.html %}
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="reportDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Informes
        </a>
        <div class="dropdown-menu" aria-labelledby="reportDropdown">
          {% include reports_es.html %}
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=https://secure.squarespace.com/checkout/donate?donatePageId=60a7f5e5499714081146fbd7&ss_cvr=12ebb13d-bfb3-45b8-b207-6448e94f131d%7C1623797835585%7C1623797835585%7C1623797835585%7C1&ss_cvt=1623797835585" target=_blank">Donar</a>
      </li>
    </ul>
    {% include language_selector.html %}
  </div>
</nav>