<nav class="navbar navbar-expand-lg navbar-light bg-light my-0 py-0">
  <a class="navbar-brand m-0 p-0" href="{{ site.baseurl }}/{{ page.language }}"><img class="p-0 m-0" src='{{ site.baseurl }}/images/cssg_logo.png'></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/en/about_cssg">About CSSG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/en/cacti_and_succulents">Cacti and Succulents</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/en/members">Members</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/en/workshops">Workshops</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/en/outreach">Outreach</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="newsletterDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Newsletters
        </a>
        <div class="dropdown-menu" aria-labelledby="newsletterDropdown">
          {% include newsletters_en.html %}
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="reportDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reports
        </a>
        <div class="dropdown-menu" aria-labelledby="reportDropdown">
          {% include reports_en.html %}
        </div>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/assets/copiapoa_action_plan_en.pdf">Copiapoa Conservation Action Plan</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=https://secure.squarespace.com/checkout/donate?donatePageId=60a7f5e5499714081146fbd7&ss_cvr=12ebb13d-bfb3-45b8-b207-6448e94f131d%7C1623797835585%7C1623797835585%7C1623797835585%7C1&ss_cvt=1623797835585" target=_blank">Donate</a>
      </li>
    </ul>
    {% include language_selector.html %}
  </div>
</nav>