{% for newsletter in site.data.newsletters %}
  <div class='d-flex justify-content-between position-relative'>
    <a class="dropdown-item align-self-center stretched-link" href="{{ newsletter.link_es }}" target=_blank>{{ newsletter.month_es }} {{ newsletter.year }}</a>
    <i class='fa fa-external-link mr-3 align-self-center text-muted'></i>
  </div>
{% endfor %}

<div class='dropdown-divider'></div>

<a class="dropdown-item" href="{{ site.baseurl }}/{{ page.language }}/newsletters">Todos los Boletines</a>
