<div id='splash-video-container' class='d-none d-sm-block'>
  <video autoplay muted loop preload='auto' id='splash-video'>
    <source src="{{ site.baseurl }}/assets/splash-video.mp4" type="video/mp4">
  </video>
  <div id="splash-content">
    <!-- nasty solution to shrink things down for smaller screens -->
    <h3 class='display-3 ml-0 text-white'>Cactus and Succulent Specialist Group</h3>
    <h2 class='ml-2 text-white'>Protecting our prickly friends.</h2>
  </div>
</div>

<div class='d-sm-none' id='phone-splash-container'>
  <div id='phone-splash-image' class='bg-image my-2 py-2'>
  </div>
  <div class='bg-text' id='phone-splash-text'>
    <h1 class='text-white'>Cactus and Succulent Specialist Group</h1>
  </div>
</div>
