<div id='splash-video-container' class='d-none d-md-block'>
  <video autoplay muted loop preload='auto' id='splash-video'>
    <source src="{{ site.baseurl }}/assets/splash-video.mp4" type="video/mp4">
  </video>
  <div id="splash-content">
    <!-- nasty solution to shrink things down for smaller screens -->
    <h3 class='display-3 d-none d-lg-block ml-0 text-white'>Grupo de Especialistas en Cactáceas y Plantas Suculentas</h3>
    <h4 class='display-4 d-lg-none ml-0 text-white'>Grupo de Especialistas en Cactáceas y Plantas Suculentas</h4>

    <h2 class='ml-2 text-white'>Promoviendo La Conservación De Plantas Suculentes En Todo El Mundo</h2>
  </div>
</div>

<div class='d-md-none' id='phone-splash-container'>
  <div id='phone-splash-image' class='bg-image my-2 py-2'>
  </div>
  <div class='bg-text' id='phone-splash-text'>
    <h1 class='text-white'>Grupo de Especialistas en Cactáceas y Plantas Suculentas</h1>
  </div>
</div>
