<div id='splash-video-container'>
  <video autoplay muted loop preload='auto' id='splash-video'>
    <source src="/assets/mixkit-wet-green-plants-1888.mp4" type="video/mp4">
  </video>
  <div id="splash-content">
    <!-- nasty solution to shrink things down for smaller screens -->
    <h3 class='display-3 ml-0 text-white d-none d-md-block'>Cactus and Succulent Specialist Group</h3>
    <h5 class='display-4 ml-0 text-white d-block d-md-none'>Cactus and Succulent Specialist Group</h5>

    <h2 class='ml-2 text-white d-none d-md-block'>Protecting our prickly friends.</h2>
    <h3 class='ml-2 text-white d-block d-md-none'>Protecting our prickly friends.</h3>

  </div>
</div>

